@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,400;8..144,700&display=swap');

body {
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

.red {
    color: red;
    font-style: italic;
}

.container {
    max-width: 1200px;
    min-width: 290px;
    margin: 0 auto;
    padding: 0px 32px;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;

}

.header__box {
    background-color: aquamarine;
}

.main__box {}

.footer__box {
    background-color: cadetblue;
}
.sec{
    margin-top: 30px;
}
.sec ul {
    margin: 25px 0px;
}
.sec_items_links {
    text-decoration: none;
}

details {
    margin: 30px;
}
details:hover {
    cursor: pointer;
}
.sec_items {

}

.sec__items__header {}